body {
  font-family: "Red Hat Display", sans-serif;
}

.pointer:hover {
  cursor: pointer;
}

.main-footer {
  color: white;
  background-color: #222222;
  padding-top: 3 rem;
  bottom: 0;
  width: 100%;
  position: fixed;
}
