.product-details {
  justify-content: center;
  align-items: center;
}

.productPrice {
  font-weight: 900;
  color: #000;
  font-size: 26px;
  line-height: 35px;
  margin-top: -10px;
  text-decoration: none;
  color: inherit;
}

.productName {
  font-weight: 900;
  color: #000;
  font-size: 26px;
  line-height: 35px;
  text-decoration: none;
}

.productChoose {
  font-weight: bold;
  color: #999;
  margin-top: 0 !important;
  font-size: 12px;
  font-family: "Red Hat Display", sans-serif;
  text-decoration: none;
}

.productChoose:hover {
  font-weight: bold;
  color: #999;
  margin-top: 0 !important;
  font-size: 12px;
  font-family: "Red Hat Display", sans-serif;
  text-decoration: none;
}
#outOfStock {
  position: absolute;
  bottom: 300px;
  right: 130px;
  color: white;
}
