html {
  position: relative;
  min-height: 100%;
}

body {
  font-family: "Red Hat Display", sans-serif;
}

.pointer:hover {
  cursor: pointer;
}

.main-footer {
  color: white;
  background-color: #222222;
  padding-top: 3 rem;

  width: 100%;
}

.img-cart {
  max-height: 110px;
}
#header-button-id {
  margin-bottom: 130px;
}

.myAccount a {
  text-decoration: none;
  color: #222222;
  font-size: 1rem;
}

@media (max-width: 575px) {
  .myAccountResponsive {
    margin-top: 2rem;
    padding: 0 2rem;
  }
}
.purchase-confirmation a {
  text-decoration: underline;
}

.img-hover-zoom {
  overflow: hidden;
}

.img-hover-zoom img {
  transition: transform 0.5s ease;
}

.img-hover-zoom:hover img {
  transform: scale(1.1);
}

.fa-shopping-cart {
  position: relative;
}
.numberOfCart {
  position: absolute;
  left: 20px;
  bottom: 10px;
}
.innerNumerOfCart {
  margin-top: 2px;
}

#userLogoNavbar {
  position: relative;
}

#welcomeEmailNavbar {
  position: absolute;
  left: -35px;
  top: 24px;
}

#fixed-button {
  position: fixed;
  left: -85px;
  top: 30vh;
  font-weight: bold !important;
  border: 2px black !important;
  transform: rotate(-90deg);
}
