body {
  font-family: "Red Hat Display", sans-serif;
}

.pointer:hover {
  cursor: pointer;
}

.main-footer {
  color: white;
  background-color: #222222;
  padding-top: 3 rem;
  bottom: 0;
  width: 100%;
}

.img-cart {
  max-height: 110px;
}
#header-button-id {
  margin-bottom: 130px;
}

.myAccount a {
  text-decoration: none;
  color: #222222;
  font-size: 1rem;
}

@media (max-width: 575px) {
  .myAccountResponsive {
    margin-top: 2rem;
    padding: 0 2rem;
  }
}
.purchase-confirmation a {
  text-decoration: underline;
}

.img-hover-zoom {
  overflow: hidden;
}

.img-hover-zoom img {
  transition: transform 0.5s ease;
}

.img-hover-zoom:hover img {
  transform: scale(1.1);
}
.numberOfCart {
  position: absolute;
  right: 50px;
  bottom: 39px;
}
